body {
  font-family: "Montserrat";
  text-align: center;
}



p {
  color: white;
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  padding-top: 10%;
  background-color:#FF2626;
  color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title {
  background-color: #FF2626;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.img-fluid {
  margin-top: 10%;
  width: 100%;
  position: absolute;

  
}
@media only screen and (max-width: 900px) {
  .img-fluid {
    display: none;
  }
}



/* Features Section */
.T2{
  padding-top: 11%;
  width: 100%;
  background-repeat: repeat;
  background-attachment: fixed;
}

.T3{
  background-color: #fff;
  padding-top: 10%;
  width: 100%;
}

.credit{
  text-align: center;
  background-color: white;
}

.testimonial-image{
width: 300px;
}

.testimonial-image2{
width: 500px;

}

.testimonial-image3{
width: 600px;
}

.china{
opacity: 0.5;
text-shadow: 5px, 5px, 3px rgb(238, 238, 238);
font-size: 125px;
}


.white-section{
  padding-top: 10%;
}


#pricing {
  color: white;
  padding: 100px;
  background-color: #FF2626;
}

.price-text {
  color: black;
  font-size: 3rem;
  line-height: 1.5;
  background-color: white
}

.pricing-column {
  color: black;
  background-color: #FF2626
}

.t-text{
  font-size: large;
  color: black;
}

#feature{
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: white;
  margin-bottom: 1rem;
}

.icon:hover {
  color: white;
}